/* generics */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-container {
  margin: 20px auto;
  width: 35%;
}

header {
  height: 100px;
  background-color: #e579e6;
}

#container-header {
  height: 400px;
  background-color: #e1d67a;
  margin: 20px 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* container with float */
main {
  background-color: #0086ff;
}

main * {
  background-color: #abcfe7;
}

main .header {
  height: 100px;
}

.left,
.center,
.right {
  float: left;
  height: 600px;
}

.left,
.right {
  width: 20%;
  margin: 20px 0;
}

.center {
  width: calc(60% - 40px);
  margin: 20px;
}

/* footer */
footer {
  margin-top: 10px;
  height: 50px;
  background-color: #8801fe;
}
